body {
  background-color: #ebfaff;
}

i {
  margin-top: 25px;
}

img {
  margin-top: 20px;
  width: 350px;
  border-radius: 5px;
  box-shadow: 5px 5px 18px #888888;
  transition: 0.2s;
}

img:hover {
  width: 340px;
}


.note-card {
  height: 200px;
}

.inner-note-card {
  padding-top: 15px;
  margin: 10px;
  background-color: #baffd2;
  height: 180px;
  border: 2px solid #BAFFF5;
  box-shadow: 1px 1px 5px #888888;
  border-radius: 5px;
  transition: 0.2s;
}

.inner-note-card:hover {
  margin: 5px;
  height: 190px;
  background-color: #FFBAE7;
  box-shadow: 5px 5px 18px #888888;
  cursor: pointer;
}


@media only screen and (max-width: 600px) {
  h4 {
  font-size: 15px !important;
  }
}
